body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #1a64d6;
  font-size: 34px;
  margin-bottom: 0;
}

h2 {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
}

p {
  margin-top: 25px;
  padding-bottom: 10px;
}

.title:first-of-type p {
  margin-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.justify {
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

.margin-text {
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  font-size: 34px;
}

.size {
  width: 400px;
  padding-top: 0px;
}

.data-font {
  font-family: monospace;
  font-size: 18px;
}

.right-data {
  font-weight: bold;
}

.button {
  background-color: #1a64d6;
  padding: 15px 25px;
  color: white;
  border-radius: 35px;
  margin-top: 15px;
  border-color: #1a64d6;
  font-size: 16px;
  font-family: Arial;
  transition: background-color 200ms ease-out;
}

.signature {
  font-family: monospace;
  font-size: 15px;
  color: grey;
}

button:hover {
  background-color: white;
  color: #1a64d6;
  cursor: pointer;
}

.size:hover {
  background-color: #ffffe6;
}
